/* @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,400;0,500;0,700;0,800;1,200;1,500;1,600;1,700;1,800&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    text-align: center;
    width: 100%;
}

.header-content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.header-title {
    /* display: inline-block; */
    align-items: center;
}

.header-title h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}



/* .header-links li {
    margin-left: 24px;
} */

.header-links a {
    margin-left: 24px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.header-links ul:first-child {
    margin-left: 0;
}

@media screen and (max-width:1200px) {

    .header-links {
        list-style-type: none;
        display: none;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .header-content-login {
        display: none;
        justify-content: flex-end;

    }
}

.header-content-input {
    display: none;
    width: 200px;
    transition: width .3s linear .3s;


}

.header-content-input:hover {
    width: 500px;
}


#search-icon {}

@media screen and (min-width:1200px) {
    #hamburger-menu {
        display: none;
        /* display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center; */
    }

    .header-content-login {
        display: flex;
        justify-content: flex-end;

    }

    .header-links {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}

.menu1 a {
    color: #fff;
    text-decoration: none;
}

.hamburger-menu {
    height: 100%;
}

.hamburger-menu-content {
    transition: height*2 .4s ease;

}

/* Hamburger */
.hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;
    cursor: pointer;
}

.hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle1 {
    display: none;
}

#toggle1:checked+.hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
}

#toggle1:checked+.hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle1:checked+.hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle1:checked~.menu1 {
    height: 100px;
    /* margin-top: 500px; */
    border: #6065f9;
    border-radius: 7px;
    width: 150px;


}


/* Menu */
.menu1 {
    width: 100%;
    background-color: #6065f9;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr repeat(8, 0.5fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.menu1 a:first-child {
    margin-top: 40px;
}

.menu1 a:last-child {
    margin-bottom: 40px;
}

.link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.dropdown-categories ul {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    padding: 0;
}

.dropdown-categories:hover ul {
    display: block;
    background-color: #fff;
    text-align: start;
    padding: 0;
    margin: 0 0 0 18px;
    border: 1px solid gray;
    border-radius: 5px;

}

/* .dropdown-categories-monitor ul {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
}

.dropdown-categories-monitor ul li a {
    display: none;
    position: absolute;
}

.dropdown-categories-monitor:hover ul li {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
} */

/* .dropdown-categories ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown-categories ul li {
    display: block;
    padding: 5px;
    min-width: 120px;
}

.dropdown-categories ul li:hover {
    background-color: #f5f5f5;
}

.dropdown-categories:hover>ul {
    display: block;
}

.dropdown-categories .dropdown-categories-monitor:hover>ul {
    display: block;
    left: 100%;
    top: 0;
} */


/* .dropdown-categories ul {
    display: flex;
    flex-direction: column;
    text-align: start;
    list-style: none;
    padding: 0;
} */

/* .categories:hover .dropdown-categories {
    display: block;
    position: absolute !important;
    z-index: 999;
} */

/* .categories .modal-categories:hover{
    display: block;
    border: 1px solid gray;
    z-index: 9999;
} */

.header-content-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.header-title {
    padding: 0;
    margin: 0;
}

.header-links-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;

}

.header-links-2 ul {
    padding: 0;
    margin: 0;
}


/* .header-links-2 li {
    margin-left: 24px;
} */

.header-links-2 ul:first-child {
    margin-left: 0;
}

.header-links-2 a {
    margin-left: 24px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    color: black;
    font-weight: bold;
    padding-bottom: 7px;
}

.btn:hover {

    background-color: #6065f9;
    color: #fff;
    transition: transform 0.2s ease-out;
    transform: scale(1.1);
}
.shop-now-btn{
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
    background-color: #999;
}

.modal-contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 111;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-contact-us form {
    background-color: #6065f9;
    color: #eee;
    border: #6065f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: transform 0.2s ease-out;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px 60px 70px;
    z-index: 99999;
}

.modal-contact-us form label {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 5px;

}

.modal-contact-us form .close {
    margin-left: auto !important;
    margin: 2px;
    font-size: 20px;
    cursor: pointer;
    margin-top: -22px;
}

.modal-contact-us form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-contact-us form input {
    margin-bottom: 20px;
    height: 30px;
    border: none;
}

.modal-contact-us form button {
    height: 30px;
    margin: 30px auto;
    padding: 0px 30px !important;
    border: 1px solid #333;
    border-radius: 5px;
    font-weight: 600;
}

#login-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;


}

.modal-login {
    display: none;
    width: 90%;
    max-width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: transform 0.2s ease-out;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px 60px 70px;
    background-color: #fff;
    z-index: 99999;
    border-radius: 5px;


}

.modal-login h2 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #6065f9;
    position: relative;

}

.input-field {
    background-color: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    width: 100%;
}

.input-field i {
    margin-left: 15px;
    color: #999;

}

.input-group {}

.input-group input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

#modal-form p {
    font-size: 13px;

}

#modal-form a {
    text-decoration: none;
    color: #6065f9;
}

.modal-login-form-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-login-form-btn button {
    flex-basis: 48%;
    background-color: #6065f9;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition: background-color 1s;
}

.modal-login-form-btn .disable {
    background-color: #eaeaea;
    color: #555;
}


#slider {
    margin: 40px;
    height: 80vh !important;
    overflow: hidden;
    object-fit: fill;

}

#carousel-img {
    object-fit: fill;
}

.slider {
    position: relative;
    width: 95vw;
    height: 90vh;
    margin: 20px auto;

}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* Transition yani geçiş efekti uygulamak üzere buraya döneceğiz */
    transition: opacity 1s linear;
}

.slide img {
    /* margin: 0 40px 0 40px; */
    width: 100%;
    height: 100%;
}

.active {
    opacity: 1;
}

.slide-inner {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .5);
    color: #eaeaea;
    padding: 40px 80px;
}

.indicators {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indicators button {
    width: 50px;
    padding: 5px 5px;
    font-size: 25px;
    background-color: rgba(189, 179, 179, 0.5);
    border: 1px solid #c5c2c2;
    border-radius: 25px;
    margin: 30px;
    cursor: pointer;
    color: white;
}

.indicators button:hover {
    background-color: #6065f9;
    color: #fff;
    transition: transform 0.3s ease-in;
    transform: scale(1.1);
}

/* #slider button {
    position: absolute;
    border: #333;
    opacity: 0.5;
    border-radius: 25px;
    top: 400px;
    margin: 35px;
    padding: 0;
    background-color: #333;
    width: 50px;
    height: 50px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    overflow: hidden;

}

#slider button:hover {
    opacity: 0.2;
    transition: transform 0.5s ease-out;
    transform: scale(1.2);
    color: white;
} */


.categories {
    text-align: center;
}

.categories-items {
    text-align: center;
    margin-top: 20px;
}

.categories-title-container {
    background-color: #1d2547;
    height: 100px;

}

.categories-title {
    color: white;
    text-align: center;
    padding-top: 25px;


}

#categories {
    margin: 40px;
}
.categories-inspect{
    margin:35px auto 0;
}
.categories-inspect-btn{
    width: 150px;
    background-color: #999;
    color: #fff;
}

#new-arrivals {
    margin: 40px;
    text-align: center;

}

.new-arrivals-title-container {
    background-color: #1d2547;
    height: 100px;
    margin-bottom: 30px;
}

.new-arrivals-title {
    color: white;
    text-align: center;
    padding-top: 25px;
}

#new-arrivals-hided {
    /* display: grid;
    grid-template-columns: repeat(4fr,1); */
    margin: 40px;
    text-align: center;
    display: none;
}

#new-arrivals-img {
    height: 350px;
    background-position: center !important;
    background-size: cover !important;
    object-fit: contain;
}

.card {
    height: 100%;
}

.card-body {
    /* padding:20px; */

}

.card-body p {
    height: 72px;
    padding:;
}

.rate-stars {
    height: 50px;
}

.card-text i {
    color: yellow;
    height: 50px;

}

.sale-modal-container {
    border: 1px solid #333;
    z-index: 9999;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.sale-modal-content {
    display: none;
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 50px 60px 70px;
    background-color: #fff;
    z-index: 99999;
    border: 1px solid #999;
    border-radius: 5px;
    position: fixed;


}

.sale-modal-title h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #6065f9;
    position: relative;
}

.sale-modal-button {}

#details-btn {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #999;
    background-color: #999;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    color: #fff;
}

#details-btn:hover {
    color: #fff;
    background-color: #6065f9;
    transition: transform .7s ease-out;
    transform: scale(1.1);
    height: 40px;
    width: 90px;
}

#viewMoreBtn {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #999;
    background-color: #999;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: #fff;
}

#viewLessBtn {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #999;
    background-color: #999;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: #fff;
}

#viewMoreBtn:hover {
    color: #fff;
    background-color: #6065f9;
    transition: transform 0.5 ease-out;
    transform: scale(1.1);
    height: 40px;
    width: 200px;
}

#viewLessBtn:hover {
    color: #fff;
    background-color: #6065f9;
    transition: transform 0.5 ease-out;
    transform: scale(1.1);
    height: 40px;
    width: 200px;
}

#sale-view :nth-child(2) {
    display: none;
}
.on-sale-products-title{
    text-align: center;
    background-color: #1d2547;
    height: 100px;
    margin:40px;
    color: #fff;
    padding-top: 25px;
}
.on-sale-slider {
    height: 165vh;
    width: 95vw;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}
.sale-products-container{
    margin-left:40px;
}
@media screen and (max-width: 700px){
    .on-sale-slider{
        height: 1200vh;
    }
    .sale-products-container{
        height: 100%;
        width: 100%;
    }
    
}
.sale-product-card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    width: 280px;
    transition: width 0.3s ease;
}
.sale-product-card:hover{
    width: 300px;
}

.sale-product-card .sale-product-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.sale-product-name h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.sale-product-card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #6065f9;
    border-radius: 20px 20px 0 0;
}

.sale-product-card .sale-product-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1111;
}

div .sale-product-card .sale-product-img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background-color: #6065f9;

}

div .sale-product-card .sale-product-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.sale-product-card .sale-product-name {
    display: flex;
    align-items: center;
}

.sale-product-card .sale-product-name i {
    font-size: 18px;
    margin: 0 2px;
    color: #6065f9;

}

.sale-product-card .sale-product-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.sale-product-card .sale-product-button button {
    background-color: #6065f9;
    color: #fff;
    outline: none;
    border: none;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sale-product-card .sale-product-button button:hover {
    background: #9e73d3;
}

@media screen and (max-width:400px) {
    .about-us {
        width: 100%;
    }

    .company-info {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

}

.about-us {
    width: 95vw;
    /* margin: 40px;
    margin-right: 40px; */
    position: relative;
    height: 80vh;
    margin-left: 40px;
}

.about-us-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/images/view-illuminated-neon-gaming-keyboard-setup-controller.jpg);
    background-size: cover;
    background-position: center;
    transition: z-index 0.5s ease-in-out;
    /* geçiş efekti */
}


.about-us:hover .about-us-img {
    z-index: -1;
    /* img divi geri planda kalsın */
}

.about-us-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    /*geçiş efekti*/

}

.about-us:hover .about-us-background {
    opacity: 0.7;
    background-color: #333;
    
}
.about-us-content{
    color: #eaeaea;
    width: 100%;
}
.about-us:hover .about-us-content{
    z-index: 1111;
    opacity: 1;
}

.about-us-page{
    height: 70vh;
    width: 70vw;
    margin-left: 40px;
}
.about-us-page img{
    background-position: center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-left: 220px;
}
.about-us-btn{
    background-color: #999;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}
.about-us-btn:hover{
    background-color: #6065f9;
}
/* @media screen and (max-width: 570px){
    .materials-info-img{
        height: 100%;
        width: 100%;
    }
} */


.materials-title{
    background-color: #1d2547;
    height: 100px;
    color: #fff;
    padding-top: 25px;
    margin:30px auto;
    width: 95vw;
}
.materials-info {
    height: 100%;
    width: 95vw;
    margin: auto;
    gap: 20px;
    margin: 20px;
}
.materials-info-item{
    padding:5px ;
    margin-left: 20px;
    width: 100%;
}
.materials-info-item button{
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #999;
    background-color: #999;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: #fff;
}

.materials-info-img {
    width: 100%;
    height: 100%;
}
.read-more-btn{
    background-color: #999;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

#options-info {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    width: auto;
    height: 40vh;

    text-align: center;
    background-color: rgba(255, 228, 196, 0.74);
    align-items: center;
}

.options-info-items {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    height: 100%;

}



@media screen and(max-width:700) {
    footer{
        height: 1000vh;
    }
    .newsletter input{
        width: 100px;
    }
    .options-info{
        height:300px;
    }
}


footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 200vh;
}

.footer-area {
    margin: 40px;
    padding-left: 30px;
    background-color: #1d2547;
    color: #fff;
    height: 100%;
    flex: 1;
}

#footer-area-container {
    margin-top: 50px;
    padding-top: 50px;
}

.footer-content-links {
    text-decoration: none;
    color: #fff;



}

.footer-content-links:hover {
    background-color: gray;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    font-weight: normal;

}

.copy-right {
    margin-top: auto;
    width: 100%;

    padding: 10px;
}

.socials {
    color: #6065f9;
}

.socials:hover {
    /* background-color: #333;
    color: #fff;
    transition:0.2s ease-out;
    transform: scale(1.3); */
}

#newsletter {
    width: 750px;
}

#newsletter-button {
    background-color: #6065f9;
    color: #fff;
}